.headerContainer{
    background-color: #212529;
    width: 100%;
    height: 8%;
    top: 0px;
    position: absolute;
    z-index: 1; 
  }
  
  .headerLogo{ 
    position: absolute;
    left: 15%; 
    margin: 0.5%; 
  }
  .img{
      height: 50px;
      width: 60px;
  }
  
  .headerText{ 
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    color: #bc8c4c;
    font-size: 95%;  
    float: right;
    margin: 1.5rem;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

